.delete-button {
  opacity: 0;
}

.task-box:hover .delete-button {
  opacity: 100;
}

h1 {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1rem;
  font-style: normal;
}
